﻿@model IEnumerable<Upteka.WEB.Models.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Burcode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.ValidationMessageFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burcode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @*            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |*@
                <button onclick="deleteItem(@item.Id)">Delete</button>
            </td>
        </tr>
    }

</table>


<script>
    function deleteItem(id) {
        var url = '@Url.Action("Delete", "Home")';

        if (confirm("Удалить запись?")) {
            $.post(url, { id: id }, function () {
                window.location.href = '@Url.Action("Index", "Home")';
            });
        }
    }
</script>                

<script src="~/Scripts/jquery-1.10.2.min.js"></script>